%li.message{ 'data-message-id': "#{message.id}" }
  .message__header
    %p.message__member
      = message.user.name
      %span.message__date
        = message.created_at.to_s(:datetime)
  %p.message__text
    = message.text if message.text.present?
  = image_tag message.image.url, class: 'message__image' if message.image.present?
